@model RickAndMortyApp.Services.Character

@{
    ViewData["Title"] = "Favorites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text mb-5">Favorite Character</h1>
@* <div class="row">
    @foreach (var character in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card cardCss">
                <div class="row g-0">
                    <div class="col-md-4 p-2">
                        <img src="@character.Image" alt="@character.Image" class="card-img" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title h4 titleName">@character.Name</h1>
                            <h6 class="prop">Status: @character.Status</h6>
                            <h6 class="prop">Gender: @character.Gender</h6>
                            <h6 class="prop">Species: @character.Species</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div> *@
